

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">CFV</h1>

        </div>
        <h3>{{'FORGOT_PASSWORD.'+'WELCOME_TEXT' | translate}}</h3>
        <p>

        </p>
        <p>{{'FORGOT_PASSWORD.'+'DESCRIPTION' | translate}}</p>
        <form class="m-t" role="form" name="forgotPasswordForm">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="{{'FORGOT_PASSWORD.'+'EMAIL_FIELD' | translate}}" required="" data-ng-model="password.user.email">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b"
                    data-ng-disabled="forgotPasswordForm.$invalid"
                    data-ng-click="password.sendResetPasowrdLink()">
                {{'FORGOT_PASSWORD.'+'BUTTON' | translate}}
            </button>
            <a data-ui-sref="login"><small>{{'FORGOT_PASSWORD.'+'LOGIN_LINK' | translate}}</small></a>
        </form>
        <p class="m-t">
            <small>{{'COMMON.'+'PUBLIC_FOOTER.'+'TEXT' | translate}} &copy; {{'COMMON.'+'YEAR' | translate}}</small>
        </p>
    </div>
</div>
