

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">CFV</h1>

        </div>
        <h3>{{'RESET_PASSWORD.'+'WELCOME_TEXT' | translate}}</h3>
        <p>
            
        </p>
        <p>{{'RESET_PASSWORD.'+'DESCRIPTION' | translate}}</p>
        <form class="m-t" role="form" name="resetPasswordForm">
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="{{'RESET_PASSWORD.'+'PASSWORD_FIELD' | translate}}"
                       required
                       data-ng-model="password.user.password">
            </div>
            <div class="form-group">
                <input type="password" name="confirmPassword" class="form-control" placeholder="{{'RESET_PASSWORD.'+'CONFIRM_PASSWORD_FIELD' | translate}}"
                       required
                       data-ng-model="password.user.confirmPassword"
                       data-compare-to="password.user.password">
                <div data-ng-messages="resetPasswordForm.confirmPassword.$error"
                     data-ng-messages-include="cfv/app/common/messages.html">
                </div>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b"
                    data-ng-disabled="resetPasswordForm.$invalid"
                    data-ng-click="password.resetPassword()">
                {{'RESET_PASSWORD.'+'BUTTON' | translate}}
            </button>
        </form>
        <p class="m-t">
            <small>{{'COMMON.'+'PUBLIC_FOOTER.'+'TEXT' | translate}} &copy; {{'COMMON.'+'YEAR' | translate}}</small>
        </p>
    </div>
</div>
