<tr data-uid='#: uid #'>
    <td>{{dataItem.firstName}}</td>
    <td>{{dataItem.lastName}}</td>
    <td>{{dataItem.phone}}</td>
    <td>{{dataItem.license.startDate | date:'yyyy-MM-dd'}}</td>
    <td>{{dataItem.license.expirationDate | date:'yyyy-MM-dd'}}</td>
    <td>
        <span class="label label-primary"
              data-ng-show="dataItem.licenseValid">{{'ADMIN.'+'USER.'+'LIST.'+'VALID' | translate}}</span>
        <span class="label label-danger"
              data-ng-show="!dataItem.licenseValid">{{'ADMIN.'+'USER.'+'LIST.'+'INVALID' | translate}}</span>
    </td>
    <td>
        <span class="label label-primary"
              data-ng-show="dataItem.isActive">{{'ADMIN.'+'USER.'+'LIST.'+'ACTIVE' | translate}}</span>
        <span class="label label-danger"
              data-ng-show="!dataItem.isActive">{{'ADMIN.'+'USER.'+'LIST.'+'IN_ACTIVE' | translate}}</span>
    </td>
   
</tr>